body {
background: bisque;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: grey;
text-align: center;
}
projects { display:flex; flex-wrap:wrap; } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  background: #7c879a;
  border-radius: 60px;
  padding: 20px;
  box-sizing: border-box;
}


.project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}
