body {
  background: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: grey;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  background: #7c879a;
  border-radius: 60px;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.project img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
  display: block;
  border-radius: 10px;
}
.project img {
  width: 80%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}